In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the csv you saved or created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-12-10 03:35:32,5.4112,100.3354,87.89,64,20,1.99
1,1,High Level,CA,2021-12-10 03:35:33,58.5169,-117.1360,-3.89,84,1,0.00
2,2,Tigil,RU,2021-12-10 03:35:33,57.8000,158.6667,19.67,95,100,5.55
3,3,Hamilton,US,2021-12-10 03:33:11,39.1834,-84.5333,56.25,64,90,1.99
4,4,Samarai,PG,2021-12-10 03:35:34,-10.6167,150.6667,84.83,73,100,20.36

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Get the max temp
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent clousiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-12-10 03:35:32,5.4112,100.3354,87.89,64,20,1.99
4,4,Samarai,PG,2021-12-10 03:35:34,-10.6167,150.6667,84.83,73,100,20.36
7,7,Atuona,PF,2021-12-10 03:35:35,-9.8000,-139.0333,78.55,68,77,13.51
8,8,Kavaratti,IN,2021-12-10 03:35:36,10.5669,72.6420,82.78,72,50,9.84
11,11,Rikitea,PF,2021-12-10 03:34:19,-23.1203,-134.9692,75.67,75,78,18.79
12,12,Codrington,AU,2021-12-10 03:35:38,-38.2667,141.9667,61.36,56,79,15.75
15,15,Carnarvon,AU,2021-12-10 03:35:38,-24.8667,113.6333,80.67,57,0,19.57
17,17,Vaini,TO,2021-12-10 03:35:39,-21.2000,-175.2000,84.36,79,20,6.91
18,18,Kaitangata,NZ,2021-12-10 03:35:40,-46.2817,169.8464,60.93,66,70,7.29
19,19,Bredasdorp,ZA,2021-12-10 03:34:31,-34.5322,20.0403,64.27,88,86,9.22

In [12]:
preferred_cities_df.count()

City_ID       267
City          267
Country       265
Date          267
Lat           267
Lng           267
Max Temp      267
Humidity      267
Cloudiness    267
Wind Speed    267
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0   Georgetown      MY     87.89   5.4112  100.3354
4      Samarai      PG     84.83 -10.6167  150.6667
7       Atuona      PF     78.55  -9.8000 -139.0333
8    Kavaratti      IN     82.78  10.5669   72.6420
11     Rikitea      PF     75.67 -23.1203 -134.9692
12  Codrington      AU     61.36 -38.2667  141.9667
15   Carnarvon      AU     80.67 -24.8667  113.6333
17       Vaini      TO     84.36 -21.2000 -175.2000
18  Kaitangata      NZ     60.93 -46.2817  169.8464
19  Bredasdorp      ZA     64.27 -34.5322   20.0403

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [16]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,87.89,5.4112,100.3354,Cititel Penang
4,Samarai,PG,84.83,-10.6167,150.6667,Nuli Sapi
7,Atuona,PF,78.55,-9.8000,-139.0333,Villa Enata
8,Kavaratti,IN,82.78,10.5669,72.6420,Hotels in Lakshadweep Islands
11,Rikitea,PF,75.67,-23.1203,-134.9692,People ThankYou
12,Codrington,AU,61.36,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
15,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon
17,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
18,Kaitangata,NZ,60.93,-46.2817,169.8464,Kaitangata Motor Camp
19,Bredasdorp,ZA,64.27,-34.5322,20.0403,Bredasdorp Country Manor

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))