## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps



# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ilhabela,BR,64.51,clear sky,-23.7781,-45.3581,Ilha Flat Hotel
1,2,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,4,Itacare,BR,75.45,overcast clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
3,5,Kavieng,PG,84.07,moderate rain,-2.5744,150.7967,Nusa Island Retreat
4,6,Atuona,PF,78.55,broken clouds,-9.8000,-139.0333,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df=pd.DataFrame(vacation_df)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ilhabela,BR,64.51,clear sky,-23.7781,-45.3581,Ilha Flat Hotel
1,2,Butaritari,KI,82.49,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,4,Itacare,BR,75.45,overcast clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
3,5,Kavieng,PG,84.07,moderate rain,-2.5744,150.7967,Nusa Island Retreat
4,6,Atuona,PF,78.55,broken clouds,-9.8000,-139.0333,Villa Enata

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"]=="Yulara"]
vacation_end_df = vacation_df.loc[vacation_df["City"]=="Yulara"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"]== "Katherine"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"]=="Emerald"] 
vacation_stop3_df = vacation_df.loc[vacation_df["City"]=="Broken Hill"]

vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
227,468,Yulara,AU,87.64,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df[["Lat", "Lng"]].to_numpy()[0]
print(start)

[-25.2406 130.9889]

In [7]:
end = vacation_end_df[["Lat", "Lng"]].to_numpy()[0]
print (end)

[-25.2406 130.9889]

In [8]:
stop1 = vacation_stop1_df[["Lat", "Lng"]].to_numpy()[0]
print(stop1)

[-14.4667 132.2667]

In [9]:
stop2 = vacation_stop1_df[["Lat", "Lng"]].to_numpy()[0]
print(stop2)

[-14.4667 132.2667]

In [10]:
stop3 = vacation_stop3_df[["Lat", "Lng"]].to_numpy()[0]
print(stop3)

[-31.95   141.4333]

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#Driving

import gmaps
import gmaps.datasets

fig = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[start,stop1, stop2, stop3,end],
        travel_mode='DRIVING',show_markers=True)
fig.add_layer(start2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df,vacation_end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,468,Yulara,AU,87.64,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
1,720,Katherine,AU,91.72,overcast clouds,-14.4667,132.2667,Pine Tree Motel
2,588,Emerald,AU,87.35,scattered clouds,-23.5333,148.1667,The Irish Village
3,585,Broken Hill,AU,71.31,clear sky,-31.9500,141.4333,Royal Exchange Hotel
4,468,Yulara,AU,87.64,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))